body {
    background-color: rgb(45, 47, 48);
  }
  .header {
    background-color: rgb(28, 85, 66);
  }
  h1 {
    color: rgb(146, 146, 182);
    text-align: center;
    font-size: x-large;
  }
  p {
    color: rgb(170, 218, 206);
    text-align: center;
    font-size: large;
  }
  .content-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: rgb(7, 211, 194);
  } 
 